body {
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

.title {
    color: green;
    text-align: center;
    text-transform: uppercase;
}

.parent {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.map img {
    width: 250px;
}